@font-face {
  font-family: 'WorkSans Bold';
  src: url('../assets/fonts/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans Medium';
  src: url('../assets/fonts/WorkSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans Regular';
  src: url('../assets/fonts/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans SemiBold';
  src: url('../assets/fonts/WorkSans-SemiBold.ttf') format('truetype');
}
